//.table.is-borderless{
  //border:0 !important;
  //border: 1px solid red;
//}

 //Set your brand colors
$purple: #8A4D76;
$purple-1: #8a4d762b;
$pink: #FA7C91;
$brown: #757763;
$brown-1: #7577632e;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #fff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.table.is-borderless td, .table.is-borderless th {
 border: 0;
}
.table.is-cell-bordered td, .table.is-cell-bordered th {
 border: 1px solid #dbdbdb;
}


@import "bulma";
