<div class="content box is-small">
  <%= link_to :back do %>
  <button class="button is-small is-primary chevron-circle-left">
    <span class="icon is-small">
      <i class="fas fa-backspace"></i>
      <!--<i class="fas fa-arrow-alt-circle-left"></i>-->
    </span>
    <span>Back</span>
  </button>
  <% end %>
  <!--<span><%= "new #{page_name} "%></span>-->
</div>
