<!--Extract similar logic between pages and use as a partial within each view-->
<h1 class="title"><%= title %></h1>

<div class="block">
  <%= link_to(public_send(new_dynamic_path)) do %>
  <%#= link_to(new_publication_path) do %>
    <button class="button is-rounded is-primary is-small">
      <span class="icon is-small">
        <i class="fas fa-plus fa-sm"></i>
      </span>
      <span><%= "new #{page_name} "%></span>
    </button>
 <% end %>
</div>
